.navbar-logo a {
    display: block;
    background: url(../../assets/images/logo.svg) no-repeat;
    width: 121px;
    height: 55px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

