@mixin desktop {
    @media (min-width: 992px) {
        @content
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content
    }
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.darker {
    filter: brightness(0.7);
  }